<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input id="name" formControlName="name" type="text" />
    <div *ngIf="form.get('name').invalid && form.get('name').touched">
      Name is required
    </div>
  
    <label for="description">Description</label>
    <input id="description" formControlName="description" type="text" />
    <div *ngIf="form.get('description').invalid && form.get('description').touched">
      Description is required
    </div>
  
    <label for="price">Price</label>
    <input id="price" formControlName="price" type="number" />
    <div *ngIf="form.get('price').invalid && form.get('price').touched">
      Price is required and must be a positive number
    </div>
  
    <button type="submit" [disabled]="form.invalid">Save</button>
  </form>
  